/******************************************************
  GLOBAL
******************************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.global {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  flex-direction: row;
  min-width: 100vh;
  /* flex: 1; */
  outline: solid yellow;
}

.room-menu {
  /* display: flex; */
  /* align-items: flex-end; */
  flex: 0 0 330px;
  border: solid rgb(187, 194, 56);
}

.between-room-input {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
  /* flex: 1; */
  border: solid seagreen;
}

.room-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* justify-content: flex-end; */
  /* flex: 0 0 330px; */
  /* flex: 1; */
  border: solid rgb(137, 46, 139);
}

.input-room {
  display: flex;
  align-items: flex-end;
  /* flex: 1; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
 

  border: solid rgb(139, 46, 48);
}

/******************************************************
  MESSAGE
*******************************************************/

.conversation-container {
	display: flex;
	align-items: center;
  flex: 1;
}

.conversation {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.conversation:hover {

}

.conversationImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.message-box {
  
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border: solid black;
  flex: 1;
}

.inputmessage {
  display: flex;
  align-items: flex-end;

  /* flex: 1; */
}

.print-message {
/* overflow-y: scroll; */
  flex: 1;
  max-height: 97vh;
  /* height: 97vh; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: solid red;
}

.borderbox {
  display: flex;
  flex: 1;
}

.message-sender {

}

.message-receiver {

}

/******************************************************
  MENU CHAT
******************************************************/

.menu-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 0 330px;
  border: solid seagreen;
}