:root {
	--progress-percentage: 0%;
}

.container-progress-bar {
	/* flex: 1; */
	height: 20px;
	width: 100%;
	background-color: #e0e0de; 
	border-radius: 3px;
	margin: 2px;
}

/* border-radius: inherit; the value is the same as its parent element */
.filler-progress-bar {
	/* height: 100%;
	background-color: "#4caf50";
	border-radius: inherit;
	text-align: right;
	padding-right: 20px;
	line-height: 20px;
	color: rgb(255, 255, 255); */
	
	height: 100%;
    width: var(--progress-percentage);
	/* background-color: blue; */
	/* background: linear-gradient(to right, green var(--progress-percentage), red var(--progress-percentage)); */
	background-image: linear-gradient(to right, rgba(218, 96, 248, 0.528) 0%, rgba(117, 11, 144, 0.813) 100%);
	border-radius: inherit;
	text-align: right;
	color: white;
	font-weight: bold;
}