/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.global {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-gap: 10px;
  border: solid yellow;
  grid-row-end: 1;
  
}


.nav-bar {
  display: flex;
  /* position: fixed; */
  /* justify-content: center; */
  justify-content: space-between;
  align-content: flex-end;
  background-color: rgb(223, 135, 135);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.nav-bar-box:hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: flex-end;
  /* background-color: rgb(232, 17, 17); */
  /* text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);; */
}


.conversation-container {
	display: flex;
	align-items: center;
}

.conversation {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

.conversation:hover {
	/* margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1); */
}

.conversationImg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}

.message-box {
  
  display: grid;
  border: solid black;
  grid-template-columns: 1fr;
  grid-template-rows: 9fr 0fr;
}

.inputmessage {
  display: flex;
  justify-content: left;
  border: solid red;
  height: 100%;
  box-sizing: border-box;
  
}

.print-message {
  height: 500px;
  overflow-y: scroll;
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  border: solid green;

}

.borderbox {
  width: 100%;
}

.message-sender {

}

.message-receiver {

}