/* body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    font-size: 18;
} */

.container {
    /* display: flex; */
    


    width: 900px;
    height: 600px;
    background-color: #a279a2;
    border-radius: 12px;

    position: relative;
    top: 20%;
    left: 500px;
    align-items: center;

    margin: 0 auto;
}