/* canvas {
	display: flex;
	align-items: center;
	margin: auto;
	background-color: black;
	border: 2px;
	border-radius: 5px;
} */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--hue: 200;
	--saturation: 75%;
	--foreground-color: hsl(var(--hue), var(--saturation), 75%);
	--glowing: 0.15;

}

.container-game {
	border: blueviolet 2px solid;
	display: flex;
	flex-direction: column;
	min-width: 100vh;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.pong-body {
	
	/* TODO: il faudra remettre le overflow */
	overflow: hidden; 
	background-color: rgb(0, 0, 0);
	position : absolute;
	width: 90vh;
	height: 55vh;
	/* width: 854px;
	height: 480px; */
	border-radius: 5px;
}

.paddle {
	--position: 25;
	--glowingpaddle:0.3;

	position: absolute;
	top: 50%;
	top: calc(var(--position) * 1vh);
	transform: translateY(-50%);
	/* background-color: var(--foreground-color); */
	/* background-color: blue; */
	width: 2vh;
	height: 13vh;
	border-radius: 5px;
	background-color: white;
	box-shadow:  
	0 0 calc(var(--glowingpaddle) * 7px) white,
	0 0 calc(var(--glowingpaddle) * 10px) white,
	0 0 calc(var(--glowingpaddle) * 21px) white,
	0 0 calc(var(--glowingpaddle) * 42px) #f09,
	0 0 calc(var(--glowingpaddle) * 82px) #f09,
	0 0 calc(var(--glowingpaddle) * 92px) #f09,
	0 0 calc(var(--glowingpaddle) * 102px) #f09,
	0 0 calc(var(--glowingpaddle) * 151px) #f09,
	0 0 calc(var(--glowingpaddle) * 171px) #f09,
	0 0 calc(var(--glowingpaddle) * 180px) #f09,
	0 0 calc(var(--glowingpaddle) * 200px) #f09;
	/* animation: pulse 1s infinite; */
	animation: glowpaddle 3s ease-in-out infinite alternate;
}

.paddle.left {
	left: 1vh;
}

.paddle.right {
	right: 1vh;
}

@keyframes glowpaddle {
	100% {
		box-shadow: 
		0 0 calc(var(--glowingpaddle) * 7px) white,
		0 0 calc(var(--glowingpaddle) * 10px) white,
		0 0 calc(var(--glowingpaddle) * 21px) white,
		0 0 calc(var(--glowingpaddle) * 42px) #f09,
		0 0 calc(var(--glowingpaddle) * 82px) #f09,
		0 0 calc(var(--glowingpaddle) * 92px) #f09,
		0 0 calc(var(--glowingpaddle) * 102px) #f09,
		0 0 calc(var(--glowingpaddle) * 151px) #f09,
		0 0 calc(var(--glowingpaddle) * 171px) #f09,
		0 0 calc(var(--glowingpaddle) * 180px) #f09,
		0 0 calc(var(--glowingpaddle) * 200px) #f09;
	}
	0% {
		box-shadow: 
		0 0 calc((var(--glowingpaddle) + 0.05) * 4px) white,
		0 0 calc((var(--glowingpaddle) + 0.05) * 10px) white,
		0 0 calc((var(--glowingpaddle) + 0.05) * 18px) white,
		0 0 calc((var(--glowingpaddle) + 0.05) * 38px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 73px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 80px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 94px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 140px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 151px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 168px) #f09,
		0 0 calc((var(--glowingpaddle) + 0.05) * 188px) #f09;
	}
	
}

.ball {
	--x: 50;
	--y: 50;
	--insideball: 0.2;
	--outsideball: 0.5;
	position: absolute;
	top: calc(var(--y) * (55vh - 3vh) / 100);
	left: calc(var(--x) * (90vh - 3vh) / 100);
	transform: translateY(-50%);
	/* background-color: var(--foreground-color); */
	background-color: #121212;
	/* width: 5vh;
	height: 5vh; */
	width: 4vh;
	height: 4vh;
	border-radius: 50%;

	/*?  DESIGN */

	box-shadow:
	inset 0 0 calc(var(--insideball) * 30px) #fff,
	inset calc(var(--insideball) * 20px) 0 calc(var(--insideball) * 60px) #ee82ee,
	inset calc(var(--insideball) * -20px) 0 calc(var(--insideball) * 60px) #0ff,
	inset calc(var(--insideball) * 20px) 0 calc(var(--insideball) * 300px) #ee82ee,
	inset calc(var(--insideball) * -20px) 0 calc(var(--insideball) * 300px) #0ff,
	0 0 calc(var(--outsideball) * 5px) #fff,
	-10px 0 calc(var(--outsideball) * 60px) #ee82ee,
	10px 0 calc(var(--outsideball) * 60px) #0ff;

	animation: balldesign 2s infinite;
}

@keyframes balldesign {
	0%{
		transform: rotate(0);
		filter: hue-rotate(0deg);
	}
	50%{
		filter: hue-rotate(100deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.score {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 7vh;
	color: white;
	text-shadow: 
	0 0 calc(var(--glowing) * 7px) white,
	0 0 calc(var(--glowing) * 10px) white,
	0 0 calc(var(--glowing) * 21px) white,
	0 0 calc(var(--glowing) * 42px) #f09,
	0 0 calc(var(--glowing) * 82px) #f09,
	0 0 calc(var(--glowing) * 92px) #f09,
	0 0 calc(var(--glowing) * 102px) #f09,
	0 0 calc(var(--glowing) * 151px) #f09,
	0 0 calc(var(--glowing) * 171px) #f09,
	0 0 calc(var(--glowing) * 180px) #f09,
	0 0 calc(var(--glowing) * 200px) #f09;
	/* animation: pulse 1s infinite; */
	animation: glowscore 0.5s ease-in-out infinite alternate;
}

@keyframes glowscore {
	100% {
		text-shadow: 
		0 0 calc(var(--glowing) * 7px) white,
		0 0 calc(var(--glowing) * 10px) white,
		0 0 calc(var(--glowing) * 21px) white,
		0 0 calc(var(--glowing) * 42px) #f09,
		0 0 calc(var(--glowing) * 82px) #f09,
		0 0 calc(var(--glowing) * 92px) #f09,
		0 0 calc(var(--glowing) * 102px) #f09,
		0 0 calc(var(--glowing) * 151px) #f09,
		0 0 calc(var(--glowing) * 171px) #f09,
		0 0 calc(var(--glowing) * 180px) #f09,
		0 0 calc(var(--glowing) * 200px) #f09;
	}
	0% {
		text-shadow: 
		0 0 calc((var(--glowing) + 0.05) * 4px) white,
		0 0 calc((var(--glowing) + 0.05) * 10px) white,
		0 0 calc((var(--glowing) + 0.05) * 18px) white,
		0 0 calc((var(--glowing) + 0.05) * 38px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 73px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 80px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 94px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 140px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 151px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 168px) #f09,
		0 0 calc((var(--glowing) + 0.05) * 188px) #f09;
	}
	
}


.score > * {
	margin: 0 1vh;
	flex-grow: 1;
	flex-basis: 0;
	padding: 0 2vh;
	/* opacity: 0.5; */
}

.score > :first-child {
	text-align: right;
}
