.container-game {
	display: flex;
	flex-direction: column;
	min-width: 100vh;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

*, *::after, *::before {
	box-sizing: border-box;
}

.pong-body {
	background-color: black;
	width: 854px;
	height: 480px;
}
/* canvas {
	display: flex;
	align-items: center;
	margin: auto;
	background-color: black;
	border: 2px;
	border-radius: 5px;
} */
