@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./../public/wave.svg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: fixed;
    top: 0;
    left: 0;
}

@config "./../tailwind.config.js";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";