.navbar {
    display: flex;
    flex-direction: column;

    width: 70px;
    height: 100vh;

    background-color: rgb(39, 6, 47);
    z-index: 9999;

    align-items: center;
    text-align: center;
    position: relative;
}

.navbar__active {
    display: flex;
    flex-direction: column;

    width: 260px;
    height: 100vh;

    background-color: rgb(39, 6, 47);
    z-index: 9999;

    align-items: start;
    text-align: center;
}

.list {
    margin-left: 80px;
}

.list__active {
    margin-left: -10.5px;
}

.list__item {

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: start;

}

.side_elem {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px;
    text-decoration: none;;
    
}

.icons {
    color: rgb(232, 232, 232);
    font-size: 25px;
}

.span {
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-weight: 600;
    visibility: hidden;
}

.span__active {
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-weight: 600;
    visibility: visible;
}



.show {
    width: 70px;
    height: 70px;
    padding: 20px;
}

.show > a {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.show__btn {
    color: rgb(232, 232, 232);
    width: 25px;
    height: 25px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.footer__active {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    width: 240px;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background-color: rgb(70, 24, 82);
}

.profile_info {
    visibility: hidden;
}

.profile_info__active {
    visibility: visible;
    color: rgb(232, 232, 232);
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
    bottom: 8px;
    left: 60px;
}

.profile_info__active > p {
    color: rgb(232, 232, 232);
    margin-bottom: 10px;
}

.match_history {
    
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: row;
      width: auto;
      height: 70px;
      align-items: start;
    }

    .navbar__active {
        flex-direction: row;
        width: auto;
        height: auto;
        align-items: start;
    }
  
    .icons {
        visibility: hidden;
    }

    .list__item {

        margin-top: 70px;
        transform: translateX(-50%);
    }
}