* {
    font-family: "Google Sans", "Roboto", "Noto Sans", "Droid Sans", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    letter-spacing: 1px;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.container {
    width: 500px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.profile_picture_div {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -60px;
    left: -60px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile_picture_div > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------------- */
/* Bio div */

.profile_bio_div {
    width: 420px;
    height: 190px;
    position: absolute;
    top: -70px;
    right: -80px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;

}

.profile_bio_div > h2 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    /* text-align: center; */
    margin: 15px 0px 0px 15px;
    font-weight: "italic";
}

.profile_bio_div > p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    /* text-align: center; */
    margin: 0px 10px 0px 15px;
    font-weight: "italic";

    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

/* ------------------------------------------------------------------------------- */


.profile_stats_div {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 160px;
    left: -30px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

/* ------------------------------------------------------------------------------- */
/* Name div */

.profile_name_div {
    width: 270px;
    height: 70px;
    position: absolute;
    top: 160px;
    left: 160px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;

}

.profile_name_div > h1 {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    /* text-align: center; */
    margin: 10px 10px 3px 15px;

    font-family: "Google Sans", "Roboto", "Noto Sans", "Droid Sans", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    letter-spacing: 1.5px;
}

.profile_name_div > h2 {
    font-size: 15px;
    font-weight: 500;
    color: #4d4d4d;
    /* text-align: center; */
    margin: 5px 10px 10px 15px;
    font-weight: "italic";
}

/* ------------------------------------------------------------------------------- */
/* History button */

.profile_history_div {
    width: 90px;
    height: 70px;
    position: absolute;
    top: 160px;
    left: 470px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.profile_history_div > button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.profile_history_div > button:hover {
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 10px;
}

.profile_history_div > button > * {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

/* ------------------------------------------------------------------------------- */

.profile_btn_div {
    width: 380px;
    height: 70px;
    position: absolute;
    top: 270px;
    left: 160px;
    background-color: #f8b9b6;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile_btn_div > button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-right: 2px solid #746d6d;
    /* border: 1px solid #000000; */
}

.profile_btn_div > button:hover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-right: 2px solid #746d6d;
    /* border: 1px solid #000000; */
    background-color: rgba(0, 0, 0, 0.1);
}

.profile_btn_div > button:last-of-type {
    border-right: none;
    border-radius: 0px 10px 10px 0px;
}

.profile_btn_div > button:first-of-type {
    border-radius: 10px 0px 0px 10px;
}

.profile_btn_div > button > * {
    width: 25px;
    height: 25px;
}
