.container {
    all: unset;
    height: 100vh;
    background-color: #181818;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    width: 100%;
    height: 100%;
    position: absolute;
}

.draws {
    width: 830px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.ball_draw {
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    background-color: #72af28;
}

.ball_draw:first-of-type {
    background: rgb(0,142,209);
    background: linear-gradient(120deg, rgba(0,142,209,1) 0%, rgba(0,75,96,1) 100%);
    top: 20%;
    left: 25%;

    /* box-shadow: rgb(0, 98, 125) 10px 10px 15px -5px, rgb(100, 165, 184) 20px 20px 13px -10px, rgb(43, 156, 187) 30px 30px 10px -20px; */
}

.ball_draw {
    background: rgb(117,186,0);
    background: linear-gradient(120deg, rgb(133, 210, 0) 0%, rgb(80, 126, 0) 100%);
    top: 75%;
    left: 78%;
}

.racket_draw {
    width: 30px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    background-color: #72af28;
}

.racket_draw:first-of-type {
    top: 30%;
    left: 5%;

    background: rgb(0,142,209);
    background: linear-gradient(120deg, rgba(0,142,209,1) 0%, rgba(0,75,96,1) 100%);
}

.racket_draw {
    top: 65%;
    left: 95%;

    background: rgb(117,186,0);
    background: linear-gradient(120deg, rgb(133, 210, 0) 0%, rgb(80, 126, 0) 100%);
}
